@font-face {
    font-family: PixerMCBixer;
    src: url(../iloveweb/styles/fonts/PixerMCBixerV2-Regular.ttf);
}

.PixerMCBixer {
    font-family: PixerMCBixer;
    letter-spacing: -20%;
}



input{
    margin: 0.4rem 0;
    border-radius: 0;
    font-family: PixerMCBixer;
    letter-spacing: -30%;

}

label {
    display: block;
    font-family: PixerMCBixer;
    letter-spacing: -30%;
}
