* { 
    line-height: 1.4em;
    margin: 0;
    background-color: black;
    font-family: PixerMCBixer, arial;
;
}


@font-face {
    font-family: PixerMCBixer;
    src: url(./fonts/PixerMCBixerV5-Regular.ttf);
}

header {
    font-family: arial;
    width: 100%;
    outline: solid lime;
    margin-bottom: 1em;
}

ul#navList {
    
    padding: 2em;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    padding: 0.5em;
}

body {
    background: whitesmoke;
    width: 100%;
    background-color: black;
}

main {
    /* outline: solid lime; */
    color: lime;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    @media (min-width: 800px) {
        grid-template-columns: 1fr;
    }

    @media (min-width: 380px) {
        grid-template-columns: 1fr;
    }
}

a {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

h1 {
    font-size: 20px;
    writing-mode: vertical-lr;
    rotate: 180deg;
    justify-items: flex-end;
    align-self: start;
    padding-bottom: 0.5em;
}

p {
    font-size: medium;
    width: 65ch;
}

.small {
    font-size: 80%;
}

.bold {
    font-weight: 900;
    padding-top: 1em;
    
}

#navList {
    width: 100%;
    padding: 0 0 0 0;
    display: flex;
    gap: 0em;
    justify-content: center;
    translate: center;
    white-space: nowrap;
    flex-wrap: wrap;
}

/* knoppen in de nav */
.navKnop {
    color: white;
    padding-right: 2rem;
    translate: 0 0;
    padding: 0.5em 3em 0.5em 0.5em;
}

/* hover function met vlaggetje clipper */
.navKnop:hover,
.navKnop:focus-visible {
    background-color: limegreen;
    color: black;
    /* padding-right: 2rem; */
    clip-path: polygon(90% 0, calc(95% - 1.5em) 50%, 90% 100%, 0 100%, 0 0);
    
}

/* kleurverrandering als je klikt op de navKnop */
.navKnop:active {
    color: black;
}

section {
    display: flex;
    height: fit-content;
    /* grid-template-columns: 1fr; */
    gap: 1em;
    /* justify-content: fill; */
}

/* als de checkout een link heeft krijgt het deze tag */
.checkoutMetLinks {
    display: flex;
    gap: 1em;
    padding: 1em;
    background-color: antiquewhite;

    border-radius: 5px;

    @media (min-width: 800px) {
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr; */
    }
}

/* als de checkout geen link heeft krijgt het deze tag */
.checkout {
    display: flex;
    gap: 1em;
    padding: 1em;

        /* background-color: antiquewhite;
        border-radius: 5px; */
    outline: solid limegreen;
    background-color: black;

}

.scroll {
    overflow: scroll ;
}

